.card {
    display: inline-block;
    height: 144px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.s1 {background-image: url("./assets/PNG-cards-1.3/ace_of_spades.png");}
.s2 {background-image: url("./assets/PNG-cards-1.3/2_of_spades.png");}
.s3 {background-image: url("./assets/PNG-cards-1.3/3_of_spades.png");}
.s4 {background-image: url("./assets/PNG-cards-1.3/4_of_spades.png");}
.s5 {background-image: url("./assets/PNG-cards-1.3/5_of_spades.png");}
.s6 {background-image: url("./assets/PNG-cards-1.3/6_of_spades.png");}
.s7 {background-image: url("./assets/PNG-cards-1.3/7_of_spades.png");}
.s8 {background-image: url("./assets/PNG-cards-1.3/8_of_spades.png");}
.s9 {background-image: url("./assets/PNG-cards-1.3/9_of_spades.png");}
.s10 {background-image: url("./assets/PNG-cards-1.3/10_of_spades.png");}
.s11 {background-image: url("./assets/PNG-cards-1.3/jack_of_spades.png");}
.s12 {background-image: url("./assets/PNG-cards-1.3/queen_of_spades.png");}
.s13 {background-image: url("./assets/PNG-cards-1.3/king_of_spades.png");}
.d1 {background-image: url("./assets/PNG-cards-1.3/ace_of_diamonds.png");}
.d2 {background-image: url("./assets/PNG-cards-1.3/2_of_diamonds.png");}
.d3 {background-image: url("./assets/PNG-cards-1.3/3_of_diamonds.png");}
.d4 {background-image: url("./assets/PNG-cards-1.3/4_of_diamonds.png");}
.d5 {background-image: url("./assets/PNG-cards-1.3/5_of_diamonds.png");}
.d6 {background-image: url("./assets/PNG-cards-1.3/6_of_diamonds.png");}
.d7 {background-image: url("./assets/PNG-cards-1.3/7_of_diamonds.png");}
.d8 {background-image: url("./assets/PNG-cards-1.3/8_of_diamonds.png");}
.d9 {background-image: url("./assets/PNG-cards-1.3/9_of_diamonds.png");}
.d10 {background-image: url("./assets/PNG-cards-1.3/10_of_diamonds.png");}
.d11 {background-image: url("./assets/PNG-cards-1.3/jack_of_diamonds.png");}
.d12 {background-image: url("./assets/PNG-cards-1.3/queen_of_diamonds.png");}
.d13 {background-image: url("./assets/PNG-cards-1.3/king_of_diamonds.png");}
.h1 {background-image: url("./assets/PNG-cards-1.3/ace_of_hearts.png");}
.h2 {background-image: url("./assets/PNG-cards-1.3/2_of_hearts.png");}
.h3 {background-image: url("./assets/PNG-cards-1.3/3_of_hearts.png");}
.h4 {background-image: url("./assets/PNG-cards-1.3/4_of_hearts.png");}
.h5 {background-image: url("./assets/PNG-cards-1.3/5_of_hearts.png");}
.h6 {background-image: url("./assets/PNG-cards-1.3/6_of_hearts.png");}
.h7 {background-image: url("./assets/PNG-cards-1.3/7_of_hearts.png");}
.h8 {background-image: url("./assets/PNG-cards-1.3/8_of_hearts.png");}
.h9 {background-image: url("./assets/PNG-cards-1.3/9_of_hearts.png");}
.h10 {background-image: url("./assets/PNG-cards-1.3/10_of_hearts.png");}
.h11 {background-image: url("./assets/PNG-cards-1.3/jack_of_hearts.png");}
.h12 {background-image: url("./assets/PNG-cards-1.3/queen_of_hearts.png");}
.h13 {background-image: url("./assets/PNG-cards-1.3/king_of_hearts.png");}
.c1 {background-image: url("./assets/PNG-cards-1.3/ace_of_clubs.png");}
.c2 {background-image: url("./assets/PNG-cards-1.3/2_of_clubs.png");}
.c3 {background-image: url("./assets/PNG-cards-1.3/3_of_clubs.png");}
.c4 {background-image: url("./assets/PNG-cards-1.3/4_of_clubs.png");}
.c5 {background-image: url("./assets/PNG-cards-1.3/5_of_clubs.png");}
.c6 {background-image: url("./assets/PNG-cards-1.3/6_of_clubs.png");}
.c7 {background-image: url("./assets/PNG-cards-1.3/7_of_clubs.png");}
.c8 {background-image: url("./assets/PNG-cards-1.3/8_of_clubs.png");}
.c9 {background-image: url("./assets/PNG-cards-1.3/9_of_clubs.png");}
.c10 {background-image: url("./assets/PNG-cards-1.3/10_of_clubs.png");}
.c11 {background-image: url("./assets/PNG-cards-1.3/jack_of_clubs.png");}
.c12 {background-image: url("./assets/PNG-cards-1.3/queen_of_clubs.png");}
.c13 {background-image: url("./assets/PNG-cards-1.3/king_of_clubs.png");}